<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'input-group' }) do |f| %>
  <%= f.error_notification %>

    <%= f.input :name, label: 'Nombre' %>
    <%= f.input :email, label: 'E-Mail' %>
    <%= f.input :password, label: 'Clave nueva', autocomplete: "off" %>
    <%= f.input :password_confirmation, label: 'Confirmar nueva clave', autocomplete: "off" %>
    <%= f.input :current_password, label: 'Clave actual' %>
    <%= f.submit "Actualizar", class: "btn btn-primary" %>

<% end %>

<h3>Cancelar mi cuenta</h3>

<p>No te gusta Reitealo! ? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro?" }, method: :delete %></p>

<%= link_to "Regresar", :back %>
