<h2>Registrate</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'input-group' }) do |f| %>
<%= f.error_notification %>

<%= f.input :name, label: 'Nombre' %>
<%= f.input :email, label: 'E-Mail' %>
<%= f.input :password, label: 'Clave'  %>
<%= f.input :password_confirmation, label: 'Confirmar clave' %>
<%= f.submit "Registrame", class: "btn btn-primary" %>
<% end %>

<%= render "devise/shared/links" %>
