<h2>Entrar</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'input-group' }) do |f| %>
<%= f.error_notification %>

    <%= f.input :email, label: 'E-Mail' %>
    <%= f.input :password, label: 'Clave'  %>
    <%= f.input :remember_me, inline_label: 'Recordarme', as: :boolean  %>
    <%= f.submit "Entrar", class: "btn btn-primary" %>
<% end %>

<%= render "devise/shared/links" %>
